@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    border-radius: 20px;
    border: 1px solid #000000;
    background-position: 0 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    height: 26%;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    transition: opacity 0.5s ease-in-out;
}

form h1, button {
    margin: 0;
}

input, select {
    background-color: #b2a67a;
    border: none;
    text-align: center;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10em;
    color: black;
    border-radius: 10px;
}

.homeButton, .modifyButton, .searchButton, .allClientsTable, .searchOptions, .carsOrderButton, .clientsModify, .upcomingOrderButton, .higherOrderButton, .addOrderPage, .topButton, .modifyOrderButton, .updateOrderPage, .deleteOrderPage{
    background-color: #3f8ce5;
    margin-bottom: 10em;
}

.indexPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15em;
}
.indexPage button{
    background-color: #3f8ce5;
    display: block;
    width:25%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


.form_modify{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.form_modify form{
    display: flex;
    flex-direction: column;
    width:100%;
}

.form_modify button, input{
    display: block;
    width:100%;
    font-size: 1.5em;
}

.form_modify h1{
    font-size: 2.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.form_modify input{
    background-color: white;
    color: black;
}

.form_modify button{
    background-color: rgb(63, 140, 229);
    color: white;
    margin-bottom: 0.5em;
}

.form_modify .submitAddClass{
    background-color: green;
}

.form_modify .submitChangeClass{
    background-color: green;
}

.form_modify .submitDeleteClass, .submitDeleteOrder{
    background-color: green;
}


.add_order{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.add_order form{
    display: flex;
    flex-direction: column;
    width:100%;
}

.add_order button, input{
    display: block;
    width:100%;
    font-size: 1.5em;
}

.add_order h1{
    font-size: 2.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.add_order input{
    background-color: white;
    color: black;
}

.add_order button{
    background-color: rgb(63, 140, 229);
    color: white;
    margin-bottom: 0.5em;
}

.add_order .submitAddClass{
    background-color: green;
}

.add_order .submitChangeClass{
    background-color: green;
}

.add_order .submitDeleteClass, .submitDeleteOrder{
    background-color: green;
}


.generalClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.generalClass button{
     margin-bottom: 0;
     display: block;
    width:25%;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


.searchOrder{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.higherOrder{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.upcomingOrder{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.carsOrder{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.higher{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.searchOrder form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width:75%;
}

.higherOrder form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width:75%;
}

.upcomingOrder button, input, select{
    display: block;
    width:100%;

    font-size: 1.5em;
}

.carsOrder button, input, select{
    display: block;
    width:100%;
    font-size: 1.5em;
}

.upcomingOrder button{
    background-color: rgb(63, 140, 229);
}

.carsOrder button{
    background-color: rgb(63, 140, 229);
}

.higher button, input, select{
    display: block;
    width:100%;

    font-size: 1.5em;
}

.searchOrder button, input, select{
    display: block;
    width:100%;
    font-size: 1.5em;
}
.higherOrder button, input, select{
    display: block;
    width:100%;

    font-size: 1.5em;
}

.searchOrder input, select{
    background-color: white;
    color: black;
}

.searchOrder button{
    background-color: green;
    color: black;
}

.higherOrder input, select{
    background-color: white;
    color: black;
}

.higherOrder button{
    background-color: green;
    color: black;
}

.higher button{
    background-color: green;
    color: black;
}

.searchOrder h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.orderShow{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.carsOrdersShow{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.viewAllPage{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.viewAllPage button{
    background-color: rgb(63, 140, 229);
    color: white;
    margin-bottom: 0.5em;
}

.viewAllPage h1{
    font-size: 2.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.topPageClassSpent form {
    display: flex;
    align-items: center;
}

.topPageClassOrders form {
    display: flex;
    align-items: center;
}

.topPageClassAverage form {
    display: flex;
    align-items: center;
}

.topPageClassNumber form {
    display: flex;
    align-items: center;
}

.topPageClassSpent input, select{
    margin-right: 10px;
}

.topPageClassOrders input, select{
    margin-right: 10px;
}

.topPageClassAverage input, select{
    margin-right: 10px;
}

.topPageClassNumber select{
    margin-right: 10px;
}

.topPageClassSpent p{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color:  white;
}

.topPageClassOrders p{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color:  white;
}

.topPageClassAverage p{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color:  white;
}

.topPageClassNumber p{
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color:  white;
}